{% extends "ooto/layout.html" %}

{% block content %}
<div class="container text-light ">
    <div class="container">
        <h2>History</h2>
        {% for game in all_games %}
        <div class="row">
            <div class="col-6">
                <a href="{% url 'game' game.id %}">
                {{ game.first_choice }} vs {{ game.second_choice }} - {{ game.game_date }}
                </a>
            </div>            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}